<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fuck</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    alo? adbjal asav 
    <div>
        <img class="img " src="/images/tải xuống (2).jpg" />
    </div>
</body>
</html>